* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-image: url("assets/gold-black-squares-background-3d-cubes-background-yellow-black-abstraction-cubes-texture-creative-.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

table,
th,
td {
    border-bottom: 1px solid white;
    border-collapse: collapse;
    line-height: 1.4rem;
    border-spacing: 5px;
    text-align: center;
    
}

th,
td {
    padding: 10px;
}

caption {
  padding-top: 10px;
  padding-bottom: 5px;
}

.instructions {
    position: absolute;
    right: 10px;
    top: 100px;
}

.face-moves {
    position: absolute;
    left: 10px;
    top: 100px;
}

button {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        color: white;
        border-radius: 5px;
}

.buttons {
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.5fr 5fr;
}

.sub-buttons button {
  margin: 3%;
}
.face-btn {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
}
.main-btn {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.face-prime-btn {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
}
.view-btn {
  margin: 20% 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}
.misc-btn {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}
.misc-btn button {
  font-size: 10px;
}
.btn-title {
  grid-column: 1/3;
  font-size: 1rem;
  font-weight: normal;
  color: rgb(255, 255, 255);
}
.hide {
    display: none;
}

.copyright {
    font-size: 12px;
}
.left {
  grid-row: 2/3;
  grid-column: 1/2;
}
.right {
  grid-row: 2/3;
  grid-column: 2/3;
}
.up {
  grid-row: 3/4;
  grid-column: 1/2;
}
.down {
  grid-row: 3/4;
  grid-column: 2/3;
}
.front {
  grid-row: 4/5;
  grid-column: 1/2;
}
.back {
  grid-row: 4/5;
  grid-column: 2/3;
}
@media screen and (min-width: 650px) {
  footer {
    position: absolute;
    bottom: 1rem;
  }
  footer div {
    width: 100vw;
  }
  #sequence {
    position: relative;
  }
  #seq {
    width: 100vw;
    position: absolute;
    top: 15rem;
  }
}
@media screen and (max-width: 650px) {
  body {
    display: grid;
    grid-template-rows: 5fr 1fr 5fr;
    height: 100vh;
  }
  table {
    visibility: hidden;
  }
  .cube {
    grid-row: 1/2;
  }
  .buttons {
    visibility: visible;
    grid-row: 3/4;
  }
  #sequence {
    grid-row: 2/3;
    height: 60px;
    align-items: center;
    position: relative;
  }
  #seq {
    font-size: 0.7rem;
    font-weight: lighter;
    position: absolute;
    bottom: 0.6rem;
    width: 100%;
  }
}
.scene {
    width: 200px;
    height: 200px;
    perspective: 800px;
    margin: 100px auto;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: var(--dt);
    transition: transform 0.3s;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, #e0e0e0, #aaaaaa);
    border: 1px solid #888;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    opacity: 0.97;
    backface-visibility: hidden;
}